<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EL&amp;JSTL20180105</display-name>


<!-- 配置过滤器 -->
<filter>
<filter-name>logFilter</filter-name>
<filter-class>com.hqhx.filter.LogFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>logFilter</filter-name>
<!-- 设置该过滤器要过滤的请求url地址 -->
<url-pattern>/*</url-pattern>
</filter-mapping>
<!-- 配置字符集设置的过滤器 -->
<filter>
<filter-name>characterFilter</filter-name>
<filter-class>com.hqhx.filter.CharacterFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>characterFilter</filter-name>
<!-- 设置该过滤器要过滤的请求url地址 -->
<url-pattern>/*</url-pattern>
</filter-mapping>

<!-- 配置登录过滤器 -->
<filter>
<filter-name>loginFilter</filter-name>
<filter-class>com.hqhx.filter.LoginFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>loginFilter</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>


<!--   配置DeptServlet -->
  <servlet>
  	<servlet-name>deptServlet</servlet-name>
  	<servlet-class>com.hqhx.controller.DeptServlet</servlet-class>
  </servlet>
<!-- 配置映射 -->
<servlet-mapping>
	<servlet-name>deptServlet</servlet-name>
	<url-pattern>/deptAction</url-pattern>
</servlet-mapping>

<!-- 配置UserServlet -->
<servlet>
<servlet-name>userServlet</servlet-name>
<servlet-class>com.hqhx.controller.UserServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>userServlet</servlet-name>
<url-pattern>/user</url-pattern>
</servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>